<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let blog of blogData">
    <ion-card-header>
      <ion-card-title>{{ blog.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>{{ blog.date }}</div>
      <div [innerHtml]="blog.content"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
