<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!blogData">
  <div>
    I'm using a free-tier database, so it might need a minute to wake up...
  </div>
  <ion-spinner color="primary"></ion-spinner>
</ion-content>

<ion-content padding *ngIf="blogData">
  <ion-card *ngFor="let blog of blogData">
    <ion-card-header>
      <ion-card-title
        ><a [routerLink]="['/blog', blog.title]"
          >{{ blog.title }}</a
        ></ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <div>
        Written on {{ blog.date | date: 'mediumDate' }} by {{ blog.author }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
